<% provide :title, t("static-pages.home.title") %>
<h1><%= t "static-pages.home.title" %></h1>
<div class="center jumbotron">
  <h2>
    <%= link_to t("layouts.rails"), Settings.rails_host.host %>
  </h2>
  <%= link_to t("static-pages.home.signup"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), Settings.rails_host.host %>
