<% provide :title, t("static-pages.signup.title") %>
<% provide :button_text, t("users.new.signup") %>
<h1><%= t "static-pages.signup.title" %></h1>
<div class="row container">
  <div class="form-horizontal">
    <%= render "users_form" %>
  </div>
</div>
